<div class="d-flex w-100">
  <app-left-menu></app-left-menu>
  <div class="page-content w-100">
    <section class="py-3">
      <header>
        <div class="container mw90">
          <div class="row gy-sm-0 gy-2 align-items-center">
            <div class="col-sm-8">
              <h5 class="mb-0">Clients</h5>
            </div>
            <div class="col-sm-4">
              <div class="row gy-sm-0 gy-2 align-items-center">
                <div class="col-sm">
                  <input type="text" placeholder="Search using client name or client id" class="form-control">
                </div>
                <div class="col-sm-auto">
                  <button class="btn btn-success font7 py-2 px-3"> <i class="fas fa-plus"></i> Add Client</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
    </section>
    <section class="bg-light">
      <div class="container mw90">
        <div class="row gy-sm-0 gy-2 py-2 align-items-center">
          <div class="col-sm-10"><label class="bg-white rounded-circle py-2 px-3 text-success">All</label></div>
          <div class="col-sm-2"><select name="" id="" class="border-0 form-select">
              <option value="" selected="selected" disabled="disabled">All members</option>
            </select></div>
        </div>
      </div>

    </section>
    <section class="py-3">
      <div class="container mw90">
        <div class="table-responsive tblRes">

          <table class="table mb-0 myTable">
            <thead>
              <tr>
                <th>Client Id</th>
                <th>Company Name</th>
                <th>Creation Date</th>
                <th>Assigned Member</th>
                <th> </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let record of records">
                <td><label class="text-primary">{{record.clientID}}</label></td>
                <td><a class="text-decoration-none text-primary" (click)="sendData(record._id)"
                    href="javascript:void(0)">{{record.companyName}}</a>
                </td>
                <td>{{record.createdAt | date}}</td>
                <td>{{record.assignedMembers[0]?.name}}</td>
                <td>
                  <button class="btn btn-sm border border-light px-3 py-2 btn-outline-light me-1"><i
                      class="text-primary  far fa-user"></i></button>
                  <button class="btn btn-sm px-3 py-2 btn-light"><i
                      class="text-secondary fas fa-user-slash"></i></button>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
        <mat-paginator [length]="totalClients" [pageSize]="clientsPerPage" [pageSizeOptions]="pageSizeOptions"
          (page)="onPageChange($event)">
        </mat-paginator>
      </div>
    </section>

  </div>
</div>