<div class="left-menu text-center p-3">
  <h4 class="mb-5 text-white fw-bold">HMA</h4>
  <div class="text-center mb-4">
    <div class=" mb-2">
      <i class="far fa-user text-white"></i>
    </div>
    <a href="javascript:void(0)" class="text-white text-decoration-none">Client</a>
  </div>
  <div class="text-center mb-4">
    <div class="icon mb-2">
      <i class="far fa-user text-white"></i>
    </div>
    <a href="javascript:void(0)" class="text-white text-decoration-none">Client</a>
  </div>
  <div class="text-center mb-4">
    <div class=" mb-2">
      <i class="far fa-user text-white"></i>
    </div>
    <a href="javascript:void(0)" class="text-white text-decoration-none">Client</a>
  </div>
  <div class="text-center mb-4">
    <div class=" mb-2">
      <i class="far fa-user text-white"></i>
    </div>
    <a href="javascript:void(0)" class="text-white text-decoration-none">Client</a>
  </div>
</div>
